<section class="header">
 <div class="container">
  <nav class="header__navigation">
   <div class="logo">
    <a href="./index.html">
     <svg width="71" height="82">
      <use href="./images/svg/sprite.svg#vector"></use>
     </svg>
    </a>
   </div>
   <ul class="header__list">
    <li class="header__item"><a href="">Про студію</a></li>
    <li class="header__item"><a href="">Наші викладачі</a></li>
    <li class="header__item"><a href="">Театральний інтенсив</a></li>
    <li class="header__item"><a href="">Розклад занять</a></li>
    <li class="header__item"><a href="">Локація</a></li>
    <li class="header__item"><a href="">Головні актори</a></li>
    <li class="header__item header__item-black"><a href="">Контакти</a></li>
   </ul>
   <ul class="header__list header__list-right">
    <li class="header__item"><a href="">Ua / </a></li>
    <li class="header__item"><a href="">En</a></li>
   </ul>
 </div>
 </nav>
 </div>
</section>